<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login{
            position: absolute;
            left: 50%;
            margin-left: -150px;
            top: 50%;
            margin-top: -100px;
        }
    </style>
</head>
<body>
    <div class="login">
        <h1>this is login page</h1>
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">login</button>
        </form>
    </div>
</body>
</html>